[build]
  command = "npm run build"
  publish = ".next"

[functions]
  directory = "functions"
  node_bundler = "esbuild"
  external_node_modules = ["@prisma/client", "firebase-admin", "pdfkit"]


[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 3000
  autoLaunch = false
